<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @v2_jurisdiction.name %>
</p>

<%= link_to 'Edit', edit_v2_jurisdiction_path(@v2_jurisdiction) %> |
<%= link_to 'Back', v2_jurisdictions_path %>
