<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <h3 class="my-lg-4">Public API</h3>

      <div class="my-lg-4">
        <h4>Introduction</h4>
        <p>Use the cluutch API to get the price of weed each day. This is experimental and a work in progress.</p>
        <p>Prices are calculated as the mean of four different sources in the USA.</p>
      </div>
      
      <div class="my-lg-4">
        <h4>API URL</h4>
          <ul class="list-unstyled">
            <li><strong>Public API v2</strong></li>
            <li><a href="https://api.cluutch.io/v2">https://api.cluutch.io/v2</a></li>
          </ul>
      </div>
      
      <div class="my-lg-4">
        <h4>Endpoints</h4>
      </div>
    </div>
    <div class="col-4 bg-light">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <%= render "pages/docs/v2/docs_v2_quotes_text" %>
    </div>

    <div class="col-lg-4 bg-light">
      <%= render "pages/docs/v2/docs_v2_quotes_code" %>
    </div>
  </div>
</div>