<div class="ps-lg-3 mt-lg-5 my-5">
  <code>
  
  <p>➜ curl https://api.cluutch.io/v2/quotes</p>

  <hr/>

  <pre>
  [
    ...
    {
      "date": "2021-02-07",
      "vendor_name": "Reef",
      "vendor_url": "https://reefdispensaries.com/locations/sun-valley/order-now/",
      "vendor_branch": "Sun Valley",
      "price_per_ounce": "240.0",
      "jurisdiction": "Nevada"
    },
    {
      "date": "2021-02-07",
      "vendor_name": "Cannahome",
      "vendor_url": "/v/William_Shatner/listings/",
      "vendor_branch": "William Shatner",
      "price_per_ounce": "155.0",
      "jurisdiction": "Darkweb"
    },
    ...
  ]
  </pre>
  </code>
</div>