<div class="container-fluid bg-secondary py-5 text-muted">
  <div class="row">
    <div class="col text-center">
      <p>SOL donations: HgjPuH4gt8muMd4jUytZ65Q4a8CPc6gsFqp6BMAsfZHm</p>
      <p>ETH: 0x7C104a8fD81297FbfDf8edc1d234cBadAc7B60A5</p>
      <p><small>Logo attribution: Freepik from <a href="https://flaticon.com">flaticon</a><small></p>
    </div>
  </div>
</div>