<div class="container-fluid bg-secondary py-5 text-muted">
  <div class="row">
    <div class="col">
      <p class="text-center"><small>Logo attribution: Freepik from <a href="https://flaticon.com">flaticon</a><small></p>
    </div>
  </div>
</div>