<h1>Editing V2 Quotes Submission</h1>

<%= render 'form', v2_quotes_submission: @v2_quotes_submission %>

<%= link_to 'Show', @v2_quotes_submission %> |
<%= link_to 'Back', v2_quotes_submissions_path %>
