<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="tab-docs-v2" data-bs-toggle="tab" href="#docs-v2" role="tab" aria-controls="docs-v2" aria-selected="true">v2</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-docs-v1" data-bs-toggle="tab" href="#docs-v1" role="tab" aria-controls="docs-v1" aria-selected="false">v1</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="docs-v2" role="tabpanel" aria-labelledby="tab-docs-v2"><%= render "pages/docs/v2/docs_v2" %></div>
  <div class="tab-pane fade" id="docs-v1" role="tabpanel" aria-labelledby="tab-docs-v1"><%= render "pages/docs/v1/docs_v1" %></div>
</div>
