<div class="ps-lg-3 mt-lg-5">
  <code>
  
  <p>➜ curl https://api.cluutch.io/v1/quotes</p>

  <hr/>

  <pre>
  [
    {
      "date": "2021-01-30",
      "mean_price_per_oz": "1478.75",
      "market1_price_per_oz": "12.0",
      "market2_price_per_oz": "34.0",
      "market3_price_per_oz": "434.0",
      "market4_price_per_oz": "5435.0"
    }
  ]
  </pre>
  </code>
</div>