<div class="container mt-lg-5">
  <div class="row">
    <div class="col text-center">
      <h4>TODAY the price of weed is</h4>

      <div class="my-lg-4">
        <h1 class="display-2">$172.43</h1>
        <h1 class="display-6 text-muted">per ounce</h1>
      </div>

      <a href="https://cluutch.substack.com/p/building-a-crypto-weed-app-the-proposal" class="btn btn-link" target="_blank">Learn more</a>
    </div>
  </div>
</div>

<hr class="mt-lg-4 mb-lg-0"/>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <h3 class="my-lg-4">Public API</h3>

      <div class="my-lg-4">
        <h4>Introduction</h4>
        <p>Use the cluutch API to get the price of weed each day. This is experimental and a work in progress.</p>
        <p>Prices are calculated as the mean of four different sources in the USA.</p>
      </div>
      
      <div class="my-lg-4">
        <h4>API URL</h4>
          <ul class="list-unstyled">
            <li><strong>Public API v1</strong></li>
            <li><a href="https://api.cluutch.io/v1">https://api.cluutch.io/v1</a></li>
          </ul>
      </div>
      
      <div class="my-lg-4">
        <h4>Endpoints</h4>
      </div>
    </div>
    <div class="col-4 bg-light">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-1">
      <%= render "docs_quotes_text" %>
    </div>

    <div class="col-lg-4 bg-light">
      <%= render "docs_quotes_code" %>
    </div>
  </div>
</div>